body {
    position: relative;
}

header {
    padding: 20px 0;
    /*height: 100px;*/
}

h1 {
    justify-content: start;
}

.alert-info {
    display: none;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
}

.box-img {
   width: 100%;
    /*height: 500px;*/
    padding: 30px 20px 0 20px;
}

.to-row {
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
}

footer  {
    padding: 150px 20px 30px 20px;

}

@media screen and (max-width: 576px) {
    .alert-info {
        display: flex;
        border: 2px lightgray solid;
        background-color: #ccffff;
        padding: 15px 0;
        margin: 15px;
        justify-content: center
    }
    h1 {
        display: flex;
       justify-content: center;
        padding: 10px;
        font-size: 50px;
    }
    .header-img {
        padding-bottom: 0px;
    }
    .row {
        flex-direction: column;
    }
    .nav-links {
        flex-direction: column;
    }
    .each-nav-link {
        display: flex;
        border: 2px lightgray solid;
        background-color: lightgray;
        padding: 15px 0;
        margin: 15px;
        justify-content: center
    }
    .to-column {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

